*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header img{
  width: 120px;
  padding: 0 10px;
  vertical-align: middle;
}
header span{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 150px;
  vertical-align: middle;
}
.containerInput{
  text-align: center;
  margin: 20px 0;
}
.containerInput input,
.containerInput button{
  height: 35px;
  padding: 0 10px;
}
.containerInput #toDo{
  width: 300px;
}
.containerInput #category{
  width: 150px;
  margin: 0 20px 0 0;
  height: 34px;
}
.content-text{
  width: 50%;
  margin: auto;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  padding: 5px 0;
}
.content-text ul{
  list-style: none;
}
.content-text li{
  line-height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.done{
  text-decoration: line-through;
}
ul .nothing{
  padding: 20px;
  text-transform: uppercase;
}
.content-text li:hover{
  background-color: rgb(201, 201, 201);
}
.content-text .target{
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px;
  text-transform: capitalize;
  font-size: 13px;
}
.kitchen{
  background-color: red;
}
.hobby{
  background-color: rgb(122, 18, 122);
}
.fitness{
  background-color: green;
}
.family{
  background-color: yellow;
}