*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header img{
  width: 120px;
  padding: 0 10px;
  vertical-align: middle;
}
header span{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 150px;
  vertical-align: middle;
}
.containerInput{
  text-align: center;
  margin: 20px 0;
}
.containerInput input,
.containerInput button{
  height: 35px;
  padding: 0 10px;
}
.containerInput input{
  width: 300px;
  margin: 0 20px;
}
.content-text{
  width: 50%;
  margin: auto;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 5px 0;
}
.content-text ul{
  list-style: none;
}
.content-text li{
  line-height: 40px;
  padding: 0 20px;
  background-color: gold;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
